{{page-title "Login"}}
<StaticPage
  class="au-c-body-container au-c-body-container--scroll au-u-flex--between"
>
  <section class="au-o-layout au-o-region-large">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>Hacakthon Group 2</h1>
          <p class="au-c-heading au-c-heading--4">Een webapplicatie waarmee
            lokale besturen ... beheren</p>
          <p>Lukt het aanmelden niet? Neem contact op met uw interne beheerder.
            Indien er zich een probleem voordoet, neem contact op met
            Gebruikersbeheer Vlaanderen
            <AuLinkExternal
              href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
              @skin="primary"
            >
              Gebruikersbeheer Vlaanderen
            </AuLinkExternal>.</p>
        </AuContent>
      </div>
      <div
        role="menu"
        class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium"
      >
        <LoginButton />
      </div>
    </div>
  </section>

</StaticPage>