{{page-title "Hackathon Group 2"}}

<AuModalContainer />

<AuApp class="{{if this.showEnvironment 'au-c-app--environment'}}">

  <Header />

  <main id="main" class="au-c-main-container">
    <div
      class="au-c-main-container__content au-c-main-container__content--scroll"
      id="content"
      tabindex="-1"
    >
      {{outlet}}
    </div>
  </main>
</AuApp>