{{page-title "Detail"}}
<section>
  <Detail::Header
    @title={{this.model.designationObject.locationElementParcel.name}}
    @code={{this.model.id}}
    @status="Submitted"
    @modelId={{this.model.id}}
  />

</section>